//.sdk-partners-collapsed-section{
//    .sdk-partners-list {
//      gap: 20px;
//      justify-content: flex-start;
//
//      @media (max-width: $screen-md-max) {
//        gap: 16px;
//      }
//
//      .sdk-partners-list-item {
//        flex: 1 1 calc(25% - 16px);
//        max-width: calc(25% - 16px);
//        height: 70px;
//        padding: 22px 0;
//        border-radius: 8px;
//        overflow: hidden;
//        background: $input-form;
//
//
//        @media (max-width: $screen-lg-max) {
//          height: 50px;
//          flex: 1 1 calc(50% - 10px);
//          max-width: calc(50% - 10px);
//          padding: 16px 0;
//          border-radius: 4px;
//        }
//
//        img {
//          height: 100%;
//          max-width: 100%;
//          object-fit: contain;
//        }
//      }
//
//      &.collapsed {
//        .sdk-partners-list-item:nth-child(n + 13) {
//          display: none!important;
//          transform: translate(0, 100%);
//          opacity: 0;
//        }
//        @media (max-width: $screen-lg-min - 1) {
//          .sdk-partners-list-item:nth-child(n + 7) {
//            display: none!important;
//          }
//        }
//      }
//    }
//
//    .arrow {
//      display: inline-block;
//      transition: transform 0.3s ease;
//
//      &.rotated {
//        transform: rotate(180deg);
//      }
//    }
//
//    @media (max-width: $screen-md-max) {
//      .sdk-partners-list-item {
//        flex: 1 1 calc(50% - 16px);
//        max-width: calc(50% - 16px);
//      }
//    }
//
//    @media (max-width: $screen-xs-max) {
//      .sdk-partners-list-item {
//        flex: 1 1 calc(100% - 16px);
//        max-width: calc(100% - 16px);
//      }
//    }
//  }


 //Updated SCSS file for collapsed trusted section
.sdk-partners-collapsed-section {
  .sdk-partners-list {
    gap: 20px;
    justify-content: flex-start;

    @media (max-width: $screen-md-max) {
      gap: 16px;
    }

    .sdk-partners-list-item {
      flex: 1 1 calc(25% - 16px);
      max-width: calc(25% - 16px);
      height: 70px;
      padding: 22px 0;
      border-radius: 8px;
      overflow: hidden;
      background: $input-form;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
      z-index: 1;
      @media (max-width: $screen-lg-max) {
        height: 50px;
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        padding: 16px 0;
        border-radius: 4px;
      }

      img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    &.collapsed {
      height: 250px;
      .sdk-partners-list-item:nth-child(n + 13) {
        opacity: 0;
        visibility: collapse;
        transform: translate(0, 10%);
        pointer-events: none;
      }

      @media (max-width: $screen-lg-max) {
        height: 184px;

        .sdk-partners-list-item:nth-child(n + 7) {
          opacity: 0;
          visibility: collapse;
          transform: translate(0, 10%);
          pointer-events: none;
        }
      }
    }

    &:not(.collapsed) {
      .sdk-partners-list-item:nth-child(n + 13) {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: auto;
      }

      @media (max-width: $screen-lg-min - 1) {
        .sdk-partners-list-item:nth-child(n + 7) {
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0);
          pointer-events: auto;
        }
      }
    }
  }

  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;

    &.rotated {
      transform: rotate(180deg);
    }
  }

  @media (max-width: $screen-md-max) {
    .sdk-partners-list-item {
      flex: 1 1 calc(50% - 16px);
      max-width: calc(50% - 16px);
    }
  }

  @media (max-width: $screen-xs-max) {
    .sdk-partners-list-item {
      flex: 1 1 calc(100% - 16px);
      max-width: calc(100% - 16px);
    }
  }
}

