.gradient {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  &.--hero-radial-gradient-top-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: -189px;

    background: $hero-radial-gradient-top-right;
    opacity: 0.5;
    filter: blur(125px);

    z-index: -1;
  }

  &.--hero-radial-gradient-bottom-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -150px;
    top: 225px;

    background: $hero-radial-gradient-bottom-left;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;
  }

  &.--mobile-radial-gradient-top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    top: -250px;

    background: $mobile-radial-gradient-top;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;

    @media (max-width: $screen-md-max) {
      left: 0;
    }
  }

  &.--mobile-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 184px;

    background: $mobile-radial-gradient-right;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;

    @media (max-width: $screen-sm-max) {
      background: $common-radial-gradient;
    }
  }

  &.--sdk-radial-gradient-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -257px;
    top: 216px;

    background: $sdk-radial-gradient-left;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;
  }

  &.--contact-us-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: -200px;

    background: $contact-us-radial-gradient-right;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;
  }

  &.--contact-us-radial-gradient-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -179px;
    top: -301px;

    background: $contact-us-radial-gradient-left;
    opacity: 0.5;
    filter: blur(150px);

    z-index: -1;

    @media (max-width: $screen-md-max) {
      right: 0;
      left: 0 !important;
      width: 360px;
    }
  }

  // sdk page
  &.--sdk-hero-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -218px;
    top: -50px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(125px);
    z-index: -1;
  }

  &.--sdk-hero-radial-gradient-bottom-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 319px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;

    @media (max-width: $screen-md-max) {
      left: 0;
    }
  }

  &.--sdk-features-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -54px;
    top: -281px;

    background: $common-radial-gradient-2;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--sdk-features-radial-gradient-bottom-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -178px;
    top: 0;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--sdk-implementation-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -300px;
    top: -300px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--sdk-implementation-radial-gradient-bottom-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -200px;
    top: 200px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  // case study CTA section (bottom of page)
  &.--case-study-cta-radial-gradient-bottom-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -250px;
    bottom: -150px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  // brighter blue gradient for case study CTA
  &.--case-study-cta-bright-blue-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -200px;
    top: -100px;

    background: $bright-blue-radial-gradient;
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
  }

  &.--sdk-contact-us-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: -70px;
    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
    transform: rotate(220deg);

    @media (max-width: $screen-md-max) {
      left: 0;
      transform: rotate(0deg);
    }
  }

  // open lsp page
  &.--lsp-hero-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -218px;
    top: -50px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(125px);
    z-index: -1;
  }

  &.--lsp-hero-radial-gradient-bottom-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 319px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;

    @media (max-width: $screen-md-max) {
      left: 0;
    }
  }

  &.--lsp-features-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -54px;
    top: -281px;

    background: $common-radial-gradient-2;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--lsp-features-radial-gradient-bottom-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -178px;
    top: 0;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--lsp-contact-us-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: -70px;
    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
    transform: rotate(220deg);

    @media (max-width: $screen-md-max) {
      left: 0;
      transform: rotate(0deg);
    }
  }

  // cloud page
  &.--cloud-hero-radial-gradient-top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 258px;
    top: -241px;
    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;

    @media (max-width: $screen-md-max) {
      left: 0;
    }
  }

  &.--cloud-contact-us-radial-gradient-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -54px;
    top: -381px;
    background: $common-radial-gradient-2;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--cloud-contact-us-radial-gradient-bottom-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 235px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--mobile-page-hero-radial-gradient-top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -28px;
    top: -96px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--mobile-page-hero-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: -248px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }

  &.--mobile-page-features-radial-gradient-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -54px;
    top: 581px;

    background: $common-radial-gradient-2;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;

    @media (max-width: $screen-md-max) {
      width: 375px;
      top: 1980px;
    }
  }

  &.--mobile-page-features-radial-gradient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 668px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(125px);
    z-index: -1;
  }

  &.--mobile-page-contact-us-radial-gradient-top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -104px;
    top: -464px;

    background: $common-radial-gradient;
    opacity: 0.5;
    filter: blur(150px);
    z-index: -1;
  }
}
