.gradient {
  &.--hero-radial-gradient-top-right {
    position: absolute;
    width: 576px;
    height: 576px;
    right: 0;
    top: -189px;

    background: $hero-radial-gradient-top-right;;
    opacity: 0.35;
    filter: blur(125px);

    z-index: -1;
  }

  &.--hero-radial-gradient-bottom-left {
    position: absolute;
    width: 457px;
    height: 457px;
    left: -150px;
    top: 225px;

    background: $hero-radial-gradient-bottom-left;
    opacity: 0.42;
    filter: blur(150px);

    z-index: -1;
  }

  &.--mobile-radial-gradient-top {
    position: absolute;
    width: 457px;
    height: 457px;
    left: 150px;
    top: -250px;

    background: $mobile-radial-gradient-top;
    opacity: 0.3;
    filter: blur(150px);

    z-index: -1;
  }

  &.--mobile-radial-gradient-right {
    position: absolute;
    width: 460px;
    height: 760px;
    right: 0;
    top: 184px;

    background: $mobile-radial-gradient-right;
    opacity: 0.42;
    filter: blur(150px);

    z-index: -1;
  }


  &.--sdk-radial-gradient-left {
    position: absolute;
    width: 760px;
    height: 760px;
    left: -257px;
    top: 216px;

    background: $sdk-radial-gradient-left;
    opacity: 0.2;
    filter: blur(150px);

    z-index: -1;
  }


  &.--contact-us-radial-gradient-right {
    position: absolute;
    width: 560px;
    height: 760px;
    right: 0;
    top: -200px;

    background: $contact-us-radial-gradient-right;
    opacity: 0.3;
    filter: blur(150px);

    z-index: -1;
  }

  &.--contact-us-radial-gradient-left {
    position: absolute;
    width: 760px;
    height: 409px;
    left: -179px;
    top: -301px;

    background: $contact-us-radial-gradient-left;
    opacity: 0.3;
    filter: blur(150px);

    z-index: -1;
  }

}