<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDK</title>
</head>
<body>

<!--collapsed header-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark header-container header-background fixed-top"
         aria-label="Breez header">
        <div class="container-fluid">
            <a href="/">
                <img class="me-5" src="../../../assets/icons/logo-breez-header.svg" alt="header breez logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreez"
                    aria-controls="navbarBreez" aria-expanded="false" aria-label="Toggle navigation">

                <div class="burger burger-slip">
                    <div class="burger-lines"></div>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarBreez">
                <ul class="d-lg-flex text-uppercase">
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/" class="text-decoration-none">Home</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/mobile" class="text-decoration-none">Mobile</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0 active">
                        <a href="/sdk" class="text-decoration-none">SDK</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/cloud" class="text-decoration-none">Cloud</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="https://doc.breez.technology/" target="blank" class="text-decoration-none">Knowledge
                            Base</a>
                    </li>
                    <li class="header-links form mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
<!--                        <a role="button" class="text-decoration-none js-scroll-to" data-scroll-to="#contact-us-form">Contact-->
<!--                            us</a>-->
                        <a href="/#contact-us-form" role="button" class="text-decoration-none">Contact
                            us</a>
                    </li>
                </ul>

                <ul class="d-flex align-items-center ms-auto">
                    <li class="social-media">
                        <a href="https://twitter.com/breez_tech" target="blank" class="">
                            <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://t.me/breez_lightning" target="blank" class="">
                            <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://medium.com/breez-technology" target="blank" class="">
                            <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://github.com/breez/breezmobile" target="blank" class="">
                            <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="mailto:contact@breez.technology" class="">
                            <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="sdk-page main-container">
    <section class="sdk-hero-section row position-relative">
        <div class="col-12 col-lg-6 mb-5 mb-lg-0 d-flex flex-column justify-content-center">
            <div class="sdk-hero-info-block">
                <h1 class="h-1 mb-2">Breez SDK</h1>
                <h2 class="h-2 mb-2">Lightning as a Service</h2>
                <article>
                    <p class="body-text --text-1">
                        Breez wants to help you thrive in the P2P Lightning economy. That’s why we’re developing this
                        SDK.
                        It’s the easiest way to tailor Lightning to your own environment, letting your users send and
                        receive P2P bitcoin payments directly from your app.
                    </p>
                    <br>
                    <p class="body-text --text-1">
                        The Breez SDK enables mobile developers to integrate Lightning and bitcoin payments into their
                        apps
                        with a very shallow learning curve. The use cases are endless – from social apps that want to
                        integrate tipping between users to content-creation apps interested in adding bitcoin
                        monetization.
                        Crucially, this SDK is an end-to-end, non-custodial, drop-in solution powered by Greenlight, a built-in LSP, on-chain interoperability, third-party fiat on-ramps, and
                        other services users and operators need.
                    </p>
                    <br>
                    <!--                    <p class="body-text &#45;&#45;text-1">-->
                    <!--                        Our SDK is a work in progress. Years of providing non-custodial Lightning functionality have-->
                    <!--                        taught-->
                    <!--                        us a lot. But this SDK is the first of its kind, and we need your input on how to improve it for-->
                    <!--                        those implementing it (you!) as well as those accessing it from the other side to send or-->
                    <!--                        receive-->
                    <!--                        sats (your users!).-->
                    <!--                    </p>-->
                    <!--                    <br>-->
                    <p class="body-text --text-1">
                        Your needs are what inspired us to develop the SDK, so we’ll work closely with you to make sure
                        it
                        meets them.
                    </p>
                </article>
            </div>
            <a role="button" class="primary-btn --hero-sdk text-decoration-none js-scroll-to"
               data-scroll-to="#contact-us-form">
                <div class="">Become a Design Partner</div>
                <img src="../../../assets/icons/arrow-right-icon.svg" alt="arrow right">
            </a>
        </div>

        <div class="col-12 col-lg-6">
            <img src="../../../assets/images/sdk-illustration.webp" alt="notebook connecting to phone with puzzle wire"
                 class="img-fluid">
        </div>
        <!--    gradients-->
        <div class="gradient --sdk-hero-radial-gradient-top-left">
        </div>
        <div class="gradient --sdk-hero-radial-gradient-bottom-right">
        </div>
    </section>

    <section data-aos="fade-up" data-aos-duration="3000" class="sdk-features-section row position-relative">
        <div class="sdk-features-block-1 col-12 col-lg-6">
            <div class="d-flex align-items-center sdk-features-block-item">
                <img src="../../../assets/icons/sdk-end-to-end-icon.svg" alt="end-to-end icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">End-to-end</span></h3>
                    <p class="body-text --text-3">Including built-in liquidity services, on-chain interoperability, and
                        third-party fiat on-ramps</p>
                </div>
            </div>

            <div class="d-flex align-items-center sdk-features-block-item --gap">
                <img src="../../../assets/icons/sdk-interoperable-icon.svg" alt="interoperable icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">Interoperable</span></h3>
                    <p class="body-text --text-3">Multiple apps can interact with the same user node</p>
                </div>
            </div>

            <div class="d-flex align-items-center sdk-features-block-item">
                <img src="../../../assets/icons/sdk-frictionless-icon.svg" alt="frictionless icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">Frictionless</span></h3>
                    <p class="body-text --text-3">No KYC is required, lowering barriers to adoption</p>
                </div>
            </div>
        </div>
        <div class="sdk-features-block-2 col-12 col-lg-6">
            <div class="d-flex align-items-center sdk-features-block-item">
                <img src="../../../assets/icons/sdk-effortless-icon.svg" alt="effortless icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">Effortless</span></h3>
                    <p class="body-text --text-3">Integrate Lightning payments into your app with just a few lines of
                        code</p>
                </div>
            </div>

            <div class="d-flex align-items-center sdk-features-block-item">
                <img src="../../../assets/icons/sdk-trustless-icon.svg" alt="trustless icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">Trustless</span></h3>
                    <p class="body-text --text-3">Breez’s non-custodial infrastructure never takes possession of users’
                        funds</p>
                </div>
            </div>

            <div class="d-flex align-items-center sdk-features-block-item">
                <img src="../../../assets/icons/sdk-global-icon.svg" alt="global icon" class="me-4">
                <div>
                    <h3 class="h-3 mb-1">It’s <span class="fw-bold">Global</span></h3>
                    <p class="body-text --text-3">Our P2P solution avoids regulatory hurdle</p>
                </div>
            </div>
        </div>
        <!--    gradients-->
        <div class="gradient --sdk-features-radial-gradient-top-left">
        </div>
        <div class="gradient --sdk-features-radial-gradient-bottom-left ">
        </div>
    </section>

    <section data-aos="fade-up" data-aos-duration="3000"
             class="contact-us-section row position-relative">

        <div class="col-12 col-lg-7 mb-5 mb-lg-0">
            <div class="contact-us-info-block">
                <h2 class="h-2-home mb-4">Become a Design Partner</h2>
                <p class="home-text --text-2">Interested in becoming a design partner?
                    <br>
                    Please get in touch.</p>
            </div>

            <div>
                <p class="caption-1 mb-3">Follow us</p>

                <ul class="d-flex align-items-center ms-auto">
                    <li class="social-media">
                        <a href="https://twitter.com/breez_tech" target="blank" class="">
                            <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://t.me/breez_lightning" target="blank" class="">
                            <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://medium.com/breez-technology" target="blank" class="">
                            <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://github.com/breez/breezmobile" target="blank" class="">
                            <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="mailto:contact@breez.technology" class="">
                            <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <!--    <div class="col-12 col-lg-6 d-flex flex-column align-items-lg-end">-->
        <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center">
            <!--        contact us form with validation-->
            <div class="form-body">
                <div class="row">
                    <div class="form-holder">
                        <div class="form-content">
                            <div class="form-items">

                                <form class="requires-validation" novalidate>

                                    <div class="col-md-12">
                                        <input class="form-control" type="text" name="name" placeholder="Your name"
                                               required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Name is required!</div>
                                    </div>

                                    <div class="col-md-12">
                                        <input class="form-control" type="email" name="email" placeholder="Your email"
                                               required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Email is required!</div>

                                    </div>

                                    <div class="col-md-12">
                                        <select class="form-select mt-3" required>
                                            <option disabled value="" class="d-none">Topic</option>
                                            <option value="mobile">Mobile</option>
                                            <option selected value="sdk-design-partner">SDK Design Partner</option>
                                            <option value="cloud-early-access">Cloud Early Access</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Topic is required!</div>
                                    </div>

                                    <div class="col-md-12">
                                        <!--                                    <input class="form-control" type="text" name="name" placeholder="Your name" required>-->
                                        <textarea class="form-control" type="text" name="textarea" rows="4" cols="50"
                                                  placeholder="Message" required></textarea>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Message is required!</div>
                                    </div>

                                    <div class="form-button mt-3">
                                        <!--contact-form-btn-->
                                        <button id="submit" type="submit"
                                                class="contact-form-btn text-decoration-none border-0">
                                            <span class="">send message</span>
                                            <img src="../../../assets/icons/lightning-icon.svg" alt="lightning icon">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--    gradients-->
        <div class="gradient --sdk-contact-us-radial-gradient-right">
        </div>

    </section>

    <footer class="footer position-relative">
        <div class="d-flex align-items-center justify-content-between py-4">
            <a href="/">
                <img class="me-5" src="../../../assets/icons/logo-breez-footer.svg" alt="footer breez logo">
            </a>
            <span class="caption-2">&#169;2022 All right reserved</span>
        </div>
    </footer>
</div>

</body>
</html>