<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDK</title>
</head>
<body>

<!--collapsed header-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark header-container header-background fixed-top"
         aria-label="Breez header">
        <div class="container-fluid">
            <a href="/">
                <img class="me-5" src="../../../assets/icons/logo-breez-header.svg" alt="header breez logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreez"
                    aria-controls="navbarBreez" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarBreez">
                <ul class="d-lg-flex text-uppercase">
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/" class="text-decoration-none">Home</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/mobile" class="text-decoration-none">Mobile</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/sdk" class="text-decoration-none">SDK</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/cloud" class="text-decoration-none">Cloud</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="https://doc.breez.technology/" target="blank" class="text-decoration-none">Knowledge
                            Base</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a role="button" class="text-decoration-none js-scroll-to" data-scroll-to="#contact-us-form">Contact
                            us</a>
                    </li>
                </ul>

                <ul class="d-flex align-items-center ms-auto">
                    <li class="social-media">
                        <a href="https://twitter.com/breez_tech" target="blank" class="">
                            <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://t.me/breez_lightning" target="blank" class="">
                            <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://medium.com/breez-technology" target="blank" class="">
                            <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://github.com/breez/breezmobile" target="blank" class="">
                            <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="mailto:contact@breez.technology" class="">
                            <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="sdk-page">
    <section class="sdk-hero-section main-container row position-relative">

        <div class="col-12 col-lg-6 mb-5 mb-lg-0 d-flex flex-column justify-content-center">
            <div class="sdk-hero-info-block">
                <h1 class="h-1 mb-2">Breez SDK</h1>
                <h2 class="h-2 mb-2">Lightning as a Service</h2>
                <article>
                    <p class="body-text --text-1">
                        Breez wants to help you thrive in the P2P Lightning economy. That’s why we’re developing this SDK.
                        It’s the easiest way to tailor Lightning to your own environment, letting your users send and
                        receive P2P bitcoin payments directly from your app.
                    </p>
                    <br>
                    <p class="body-text --text-1">
                        The Breez SDK enables mobile developers to integrate Lightning and bitcoin payments into their apps
                        with a very shallow learning curve. The use cases are endless – from social apps that want to
                        integrate tipping between users to content-creation apps interested in adding bitcoin monetization.
                        Crucially, this SDK is an end-to-end, non-custodial, drop-in solution with seamless liquidity
                        management, a built-in LSP, on-chain interoperability, third-party fiat on-ramps, and other services
                        users and operators need.
                    </p>
                    <br>
                    <p class="body-text --text-1">
                        Our SDK is a work in progress. Years of providing non-custodial Lightning functionality have taught
                        us a lot. But this SDK is the first of its kind, and we need your input on how to improve it for
                        those implementing it (you!) as well as those accessing it from the other side to send or receive
                        sats (your users!).
                    </p>
                    <br>
                    <p class="body-text --text-1">
                        Your needs are what inspired us to develop the SDK, so we’ll work closely with you to make sure it
                        meets them.
                    </p>
                </article>
            </div>
            <a href="/sdk" role="button" class="primary-btn --hero-sdk text-decoration-none">
                <div class="">Become a Design Partner</div>
                <img src="../../../assets/icons/arrow-right-icon.svg" alt="arrow right">
            </a>
        </div>

        <div class="col-12 col-lg-6">
            <img src="../../../assets/images/sdk-illustration.webp" alt="notebook connecting to phone with puzzle wire"
                 class="img-fluid">
        </div>
        <!--    gradients-->
<!--        <div class="gradient &#45;&#45;sdk-radial-gradient-left">-->
<!--        </div>-->
    </section>
</div>

</body>
</html>