//background color
$cynical-black: #171717;
$header-background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
$input-form: rgba(255, 255, 255, 0.05);

//radial-gradients
$hero-radial-gradient-top-right: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
$hero-radial-gradient-bottom-left: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
$mobile-radial-gradient-top: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
$mobile-radial-gradient-right: radial-gradient(53.9% 53.9% at 77.01% 30.21%, #1F34E7 0%, rgba(31, 195, 231, 0.84375) 65.1%);
$sdk-radial-gradient-left: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
$contact-us-radial-gradient-right: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
$contact-us-radial-gradient-left: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);

  //body text
$white: #ffffff;
$cabaret-charm: #7C92A6;

//hover/buttons
$bubble-bobble-p2: #0085FB;


//font-weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
//$font-weight-heavy: 900;