
.cloud-page {

  &.container {
    --bs-gutter-x: 2rem;
    //containers
    @media (min-width: $screen-sm-min) {
      max-width: 488px;
    }

    @media (min-width: $screen-md-min) {
      max-width: 680px;
    }

    @media (min-width: $screen-lg-min) {
      max-width: 943px;
    }

    @media (min-width: $screen-xl-min) {
      max-width: 944px;
    }

    @media (min-width: $screen-xxl-min) {
      max-width: 1184px;
    }

    @media (min-width: $screen-xxxl-min) {
      max-width: 1400px;
    }

  }

  .cloud-hero-section {
    margin: 100px 0 100px 0;

    @media (min-width: $screen-md-min) {
      margin: 160px 0 100px 0;
    }

    .cloud-hero-info-block {
      max-width: 530px;
      margin-bottom: 60px;
    }
  }

}