
.container {
    --bs-gutter-x: 2rem;
    //containers
    @media (min-width: 576px) {
      max-width: 488px;
    }

    @media (min-width: 768px) {
      max-width: 680px;
    }

    @media (min-width: 992px) {
      max-width: 943px;
    }

    @media (min-width: 1200px) {
      max-width: 944px;
    }

    @media (min-width: 1400px) {
      max-width: 1184px;
    }

  }


/* Particles */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  margin-top: -100px;
  left: 0;
}

//hero section arrow
.arrow-down{
  width: 60px;
  height:40px;
  margin:0 0 -60px -30px;
  position:absolute;
  left:50%;
  //left: calc(50% + 16px);
  bottom:0;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover{
  -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height: 4px;
  width: 20px;
  background: $white;
  -webkit-transform:rotate(240deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position:absolute;
  height: 4px;
  width: 20px;
  background: $white;
  -webkit-transform:rotate(-60deg);
  top:10px;
  left:14px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@-webkit-keyframes arrow{
  0% {
    bottom:0px;
  }
  100%{
    bottom:10px;
  }
}


@-webkit-keyframes leftArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(225deg);
  }
}

@-webkit-keyframes rightArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(-45deg);
  }
}

.hero-section {
  margin: 50px 0 200px 0;
  padding-bottom: 10px;

  //@media (max-width: $screen-xs-max) {
  //  height: calc(100vh - 78px - 40px - 4px);
  //}

  @media (min-width: $screen-md-min) {
    margin: 148px 0 200px 0;
  }

  .hero-info-block {
    max-width: 720px;

    @media (min-width: $screen-md-min) {
      margin-bottom: 52px !important;
    }

  }
}

.mobile-section {
  padding-top: 80px;
  margin-bottom: 200px;

  .mobile-info-block {
    max-width: 500px;
  }

  // buttons for small devices
  .mobile-btns {
    @media (max-width: 411px) {
      flex-direction: column;
    }
  }
}

.sdk-section {
  margin-bottom: 200px;

  .sdk-info-block {
    max-width: 560px;
    margin-bottom: 60px;
  }
}

.cloud-section {
  margin-bottom: 200px;

  .cloud-info-block {
    max-width: 500px;
    margin-bottom: 60px;
  }
}

.contact-us-section {
  padding-top: 80px;
  margin-bottom: 50px;

  .contact-us-info-block {
    max-width: 560px;
    margin-bottom: 60px;
  }

  .social-media {
    width: 36px;
    height: 36px;
  }

  .icon {
    &:hover {
      filter: invert(0.4) sepia(1) saturate(20) hue-rotate(183.6deg) brightness(0.7) contrast(170%);
    }
  }
}
