.sdk-page {
  &.container {
    --bs-gutter-x: 2rem;
    //containers
    @media (min-width: $screen-sm-min) {
      max-width: 488px;
    }

    @media (min-width: $screen-md-min) {
      max-width: 680px;
    }

    @media (min-width: $screen-lg-min) {
      max-width: 943px;
    }

    @media (min-width: $screen-xl-min) {
      max-width: 944px;
    }

    @media (min-width: $screen-xxl-min) {
      max-width: 1184px;
    }

    @media (min-width: $screen-xxxl-min) {
      max-width: 1400px;
    }
  }

  .sdk-hero-section {
    margin: 100px 0 100px 0;

    @media (min-width: $screen-md-min) {
      margin: 160px 0 100px 0;
    }

    .sdk-btns {
      // buttons for small devices
      @media (max-width: 576px) {
        flex-direction: column;
      }
    }

    .sdk-hero-info-block {
      max-width: 530px;
      margin-bottom: 40px;

      @media (min-width: $screen-lg-min) {
        margin-bottom: 60px;
      }
    }
  }

  .sdk-features-section {
    margin-bottom: 200px;

    .sdk-features-block-item {
      margin-bottom: 60px;

      &.--gap {
        @media (min-width: $screen-xxl-min) {
          margin-bottom: 80px;
        }
      }

      &.--gap-big {
        @media (min-width: $screen-xxxl-min) {
          margin-bottom: 80px;
        }
      }
    }
  }

  .sdk-implementation-section {
    margin-bottom: 100px;

    .sdk-implementation-block {
      padding: 32px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 8px;
    }
  }

  .sdk-partners-collapsed-section{
    .sdk-partners-list {
      gap: 20px;
      justify-content: flex-start;

      @media (max-width: $screen-md-max) {
        gap: 16px;
      }

      .sdk-partners-list-item {
        flex: 1 1 calc(25% - 16px);
        max-width: calc(25% - 16px);
        height: 70px;
        padding: 22px 0;
        border-radius: 8px;
        overflow: hidden;
        background: $input-form;

        @media (max-width: $screen-lg-max) {
          height: 50px;
          flex: 1 1 calc(50% - 10px);
          max-width: calc(50% - 10px);
          padding: 16px 0;
          border-radius: 4px;
        }

        img {
          height: 100%;
          max-width: 100%;
          object-fit: contain;
        }
      }

      &.collapsed {
        .sdk-partners-list-item:nth-child(n + 13) {
          display: none!important;
        }
        @media (max-width: $screen-lg-min - 1) {
          .sdk-partners-list-item:nth-child(n + 7) {
            display: none!important;
          }
        }
      }
    }

    .arrow {
      display: inline-block;
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    @media (max-width: $screen-md-max) {
      .sdk-partners-list-item {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
      }
    }

    @media (max-width: $screen-xs-max) {
      .sdk-partners-list-item {
        flex: 1 1 calc(100% - 16px);
        max-width: calc(100% - 16px);
      }
    }
  }
}
