@import "~bootstrap/scss/bootstrap";

//slick-carousel
@import "vendors/slick/slick";
@import "vendors/slick/slick-theme";

//custom bootstrap
@import "vendors/bootstrap";

@import "abstracts/variables";
@import "base/reset";

//base
@import "base/containers";
@import "base/fonts";
@import "base/typography";

//components
@import "components/buttons";
@import "components/gradients";
@import "components/mobile-section-slider";
@import "components/sdk-partners-slider.scss";

//layouts
@import "layouts/header";
@import "layouts/contact-us-form";

//pages
@import "pages/home";
@import "pages/mobile";
@import "pages/sdk";
@import "pages/lsp";
@import "pages/cloud";