<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breez | Mobile</title>
</head>
<body>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark header-container header-background fixed-top"
         aria-label="Breez header">
        <div class="container-fluid">
            <a href="/">
                <img class="me-5" src="../../../assets/icons/logo-breez-header.svg" alt="header breez logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreez"
                    aria-controls="navbarBreez" aria-expanded="false" aria-label="Toggle navigation">

                <div class="burger burger-slip">
                    <div class="burger-lines"></div>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarBreez">
                <ul class="d-lg-flex text-uppercase">
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/" class="text-decoration-none">Home</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0 active">
                        <a href="/mobile" class="text-decoration-none">Mobile</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/sdk" class="text-decoration-none">SDK</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/cloud" class="text-decoration-none">Cloud</a>
                    </li>
                    <li class="header-links mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="https://doc.breez.technology/" target="blank" class="text-decoration-none">Knowledge
                            Base</a>
                    </li>
                    <li class="header-links form mx-0 mx-lg-2 mx-xl-4 my-2 my-lg-0">
                        <a href="/#contact-us-form" role="button" class="text-decoration-none">Contact
                            us</a>
                    </li>
                </ul>

                <ul class="d-flex align-items-center ms-auto">
                    <li class="social-media">
                        <a href="https://twitter.com/breez_tech" target="blank" class="">
                            <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://t.me/breez_lightning" target="blank" class="">
                            <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://medium.com/breez-technology" target="blank" class="">
                            <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://github.com/breez/breezmobile" target="blank" class="">
                            <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="mailto:contact@breez.technology" class="">
                            <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!--mobile section-->
<div class="mobile-page container">
    <section class="mobile-hero-section row position-relative">

        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
            <div class="mobile-hero-info-block">
                <h1 class="h-1 mb-2">Breez Mobile</h1>
                <h2 class="h-2 mb-2">Lightning Fast Payments</h2>
                <article>
                    <p class="body-text --text-1">
                        The Breez mobile app is a favorite of Lightning wizards and rookies alike. With a non-custodial
                        Lightning node running on your mobile device, digital cash register, podcast player, and its own
                        marketplace, the app delivers a standard-setting UX with 100% bitcoin DNA under the hood.
                    </p>
                    <br>
                    <p class="body-text --text-1">
                        It's a versatile and easy-to-use interface, making end-users into peers in the Lightning
                        economy.
                    </p>
                </article>
            </div>

            <!--    buttons show on desktop-->
            <div class="d-flex mobile-btns">
                <!--google btn-->
                <a href="https://play.google.com/apps/testing/com.breez.client" target="_blank" role="button"
                   class="download-btn--android text-decoration-none mb-2 mb-md-0 me-3 me-md-4">
                    <img src="../../../assets/icons/google-play-btn.svg" alt="google play button" class="google-btn">
                </a>
                <!--app store btn-->
                <a href="https://apps.apple.com/us/app/breez-lightning-client-pos/id1463604142" target="_blank"
                   role="button"
                   class="download-btn--ios text-decoration-none mb-2 mb-md-0 me-3 me-md-4">
                    <img src="../../../assets/icons/app-store-btn.svg" alt="app store button" class="app-store-btn">
                </a>
                <!--transparent btn-->
                <a href="https://github.com/breez/breezmobile" target="_blank" role="button"
                   class="primary-btn --transparent text-decoration-none">
                    <div class="">contribute</div>
                    <img src="../../../assets/icons/arrow-right-icon.svg" alt="arrow right">
                </a>
            </div>
        </div>

        <div class="col-12 col-lg-6 mobile-section-slider align-self-center">
            <img src="../../../assets/images/pos-illustration.webp" alt="pos" class="img-fluid">
            <img src="../../../assets/images/balance-illustration.webp" alt="balance" class="img-fluid">
            <img src="../../../assets/images/podcast-illustration.webp" alt="podcast" class="img-fluid">
        </div>


        <!--    gradients-->
        <div class="gradient --mobile-page-hero-radial-gradient-top">
        </div>

        <div class="gradient --mobile-page-hero-radial-gradient-right">
        </div>

    </section>

    <section data-aos="fade-up" data-aos-duration="3000" class="mobile-features-section">
        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-stretch justify-content-between">
            <div class="mobile-features-item d-flex flex-column align-items-center text-center mb-5">
                <img src="../../../assets/icons/mobile-icon.svg" alt="mobile icon" class="">
                <div>
                    <h3 class="h-3-home mb-1">Non-custodial Lightning</h3>
                    <p class="home-text --text-3">A Lightning node in your pocket</p>
                </div>
            </div>

            <div class="mobile-features-item d-flex flex-column align-items-center text-center mb-5">
                <img src="../../../assets/icons/calculator-icon.svg" alt="calculator icon" class="">
                <div>
                    <h3 class="h-3-home mb-1">Point-of-Sale</h3>
                    <p class="home-text --text-3">Accept Lightning payments with no KYC</p>
                </div>
            </div>

            <div class="mobile-features-item d-flex flex-column align-items-center text-center mb-5">
                <img src="../../../assets/icons/streaming-icon.svg" alt="stream icon" class="">
                <div>
                    <h3 class="h-3-home mb-1">Podcasting 2.0 Player</h3>
                    <p class="home-text --text-3">Streaming sats for streaming ideas</p>
                </div>
            </div>

            <div class="mobile-features-item d-flex flex-column align-items-center text-center mb-5">
                <img src="../../../assets/icons/network-icon.svg" alt="network icon" class="">
                <div>
                    <h3 class="h-3-home mb-1">Lightning Service Provider</h3>
                    <p class="home-text --text-3">Provides liquidity and network connectivity</p>
                </div>
            </div>
        </div>

        <!--    gradients-->
        <div class="gradient --mobile-page-features-radial-gradient-left">
        </div>
        <div class="gradient --mobile-page-features-radial-gradient-right">

        </div>
    </section>

    <section data-aos="fade-up" data-aos-duration="3000" class="mobile-frame-slider-section">
        <div class="row">
            <div class="col-sm-12 px-0">
                <div class="screenshot-contain">
                    <img class="d-none d-md-block mobile-phone-frame img-fluid" src="../../../assets/images/mobile-phone-frame.webp" alt="mobile phone frame">
                    <div class="mobile-frame-slider screenshot-carousel">
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-1.webp" alt="app"></div>
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-2.webp" alt="app"></div>
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-3.webp" alt="app"></div>
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-4.webp" alt="app"></div>
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-5.webp" alt="app"></div>
                        <div role="button" class="screenshot-item"><img src="../../../assets/images/mobile-slide-6.webp" alt="app"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-aos="fade-up" data-aos-duration="3000" class="contact-us-section row position-relative">

        <div class="col-12 col-lg-7 mb-5 mb-lg-0">
            <div class="contact-us-info-block">
                <h2 class="h-2-home mb-4">Contact us</h2>
                <p class="home-text --text-2">Contact us if you have any questions
                    <br>
                    or want to know more</p>
            </div>

            <div>
                <p class="caption-1 mb-3">Follow us</p>

                <ul class="d-flex align-items-center ms-auto">
                    <li class="social-media">
                        <a href="https://twitter.com/breez_tech" target="blank" class="">
                            <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://t.me/breez_lightning" target="blank" class="">
                            <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://medium.com/breez-technology" target="blank" class="">
                            <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="https://github.com/breez/breezmobile" target="blank" class="">
                            <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                        </a>
                    </li>
                    <li class="social-media">
                        <a href="mailto:contact@breez.technology" class="">
                            <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center">
            <!--        contact us form with validation-->
            <div class="form-body">
                <div class="row">
                    <div class="form-holder">
                        <div class="form-content">
                            <div class="form-items">

                                <form class="needs-validation" novalidate action="/contact" method="post">
                                    <input type="hidden" name="recaptcha_response" id="recaptcha_response" />
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" name="fullname" placeholder="Your name"
                                               required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Name is required!</div>
                                    </div>

                                    <div class="col-md-12">
                                        <input class="form-control js-email-input"
                                               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                               type="email" name="email" placeholder="Your email"
                                               required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">
                                            <div class="js-required-input-error d-none">Email is required!</div>
                                            <div class="js-not-valid-email-error d-none">Email is not valid</div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <select class="form-select mt-3" name="contact_type" required>
                                            <option disabled value="" class="d-none">Topic</option>
                                            <option selected value="mobile">Mobile</option>
                                            <option value="sdk-design-partner">SDK Design Partner</option>
                                            <option value="cloud-early-access">Cloud Early Access</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Topic is required!</div>
                                    </div>

                                    <div class="col-md-12">
                                        <textarea class="form-control" type="text" name="message" rows="4" cols="50"
                                                  placeholder="Message" required></textarea>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Message is required!</div>
                                    </div>

                                    <div class="form-button mt-3">
                                        <!--contact-form-btn-->
                                        <button id="submit" type="submit" name="send"
                                                class="contact-form-btn text-decoration-none border-0">
                                            <span class="">send message</span>
                                            <img src="../../../assets/icons/lightning-icon.svg" alt="lightning icon">
                                        </button>
                                    </div>

                                    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
                                        <div id="success-submit"
                                             class="toast align-items-center text-white bg-success border-0"
                                             role="alert" aria-live="assertive" aria-atomic="true">
                                            <div class="d-flex">
                                                <div class="toast-body">
                                                    The message has been sent
                                                </div>
                                                <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                                        data-bs-dismiss="toast" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--    gradients-->
        <div class="gradient --mobile-page-contact-us-radial-gradient-top-left">
        </div>

    </section>

    <footer class="footer position-relative">
        <div class="d-flex align-items-center justify-content-between py-4">
            <a href="/">
                <img class="me-5" src="../../../assets/icons/logo-breez-footer.svg" alt="footer breez logo">
            </a>
            <span class="caption-2">&#169;2022 All right reserved</span>
        </div>
    </footer>
</div>

</body>
</html>
