.header {
  .header-background {
    background: $header-background;
  }

  .header-links {
    a {
      color: $white;
      &:hover {
        color: $bubble-bobble-p2;
      }
    }

  }

  .social-media {
    width: 36px;
    height: 36px;
  }

  //.icon {
  //  &:hover {
  //    fill: $bubble-bobble-p2;
  //  }
  //}

  .icon {
    &:hover {
      //filter: invert(39%) sepia(61%) saturate(4332%) hue-rotate(192deg) brightness(100%) contrast(106%); #0085FB
      filter: invert(0.4) sepia(1) saturate(20) hue-rotate(183.6deg) brightness(0.7) contrast(170%);
    }
  }



  //bootstrap navbar
  .container-fluid {
    --bs-gutter-x: 0;
  }

  .navbar-toggler {
    //color: transparent;
    //border-color: transparent;

    &:focus {
      box-shadow: 0 0 0;
    }
  }

}

