
.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 460px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: $white;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select, .input-name {
  width: 100%;
  text-align: left;
  border: 0;
  outline: 0;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
  margin-bottom: 24px;


  color: $white;
  border: none;
  display: block;
  padding: 12px 16px;
  max-width: 460px;
  height: 48px;
  background-color: $input-form;
  backdrop-filter: blur(2px);
  border-radius: 8px;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    @extend .input-form-text;
    opacity: 1; /* Firefox */
  }

  // autofill correction
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white !important;
  }

}

.form-content select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
}

.form-content select option {
  background-color: $elite-blue !important;
}

.btn-primary {
  background-color: #6C757D;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea {
  position: static !important;
  text-align: left;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-top: 16px;
  margin-bottom: 24px;

  color: $white;
  border: none;
  display: block;
  width: 100%;

  padding: 12px 16px;
  max-width: 460px;
  min-height: 160px;

  background: $input-form;
  backdrop-filter: blur(2px);

  border-radius: 8px;
  resize: none;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    @extend .input-form-text;
    opacity: 1; /* Firefox */
  }

}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: $input-form;
  color: $white;
}

.mv-up{
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback{
  color: $invalid;
}

.valid-feedback{
  color: $valid;
}

.was-validated .form-select:invalid:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e")
}
