<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breez | Open LSP</title>
    <meta property="og:image" content="../../../assets/images/open-graph.png" />
    <meta property="og:title" content="Breez | Open LSP" />
    <meta property="og:description"
        content="Breez is realizing the future of bitcoin by opening the world of peer-to-peer payments to people and apps">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Breez_Tech" />
    <meta name="twitter:creator" content="@Breez_Tech" />
    <meta name="twitter:title" content="Breez | Open LSP" />
    <meta name="twitter:description"
        content="Breez is realizing the future of bitcoin by opening the world of peer-to-peer payments to people and apps" />
    <meta name="twitter:image" content="../../../assets/images/open-graph.png" />
</head>

<body>

    <!--collapsed header-->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark header-container header-background fixed-top"
            aria-label="Breez header">
            <div class="container-fluid">
                <a href="/">
                    <img class="me-5" src="../../../assets/icons/logo-breez-header.svg" alt="header breez logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreez"
                    aria-controls="navbarBreez" aria-expanded="false" aria-label="Toggle navigation">

                    <div class="burger burger-slip">
                        <div class="burger-lines"></div>
                    </div>
                </button>

                <div class="collapse navbar-collapse" id="navbarBreez">
                    <ul class="d-lg-flex text-uppercase">
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="/" class="text-decoration-none">Home</a>
                        </li>
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="/sdk" class="text-decoration-none">SDK</a>
                        </li>
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0 active">
                            <a href="/lsp" class="text-decoration-none">Open LSP</a>
                        </li>
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="/mobile" class="text-decoration-none">Mobile</a>
                        </li>
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="/cloud" class="text-decoration-none">Cloud</a>
                        </li>
                        <li class="header-links mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="https://doc.breez.technology/" target="blank" class="text-decoration-none">
                                Knowledge Base
                            </a>
                        </li>
                        <li class="header-links form mx-0 mx-lg-2 mx-xl-3 mx-xxl-4 my-2 my-lg-0">
                            <a href="/#contact-us-form" role="button" class="text-decoration-none">
                                Contact us
                            </a>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ms-auto">
                        <li class="social-media">
                            <a href="https://twitter.com/breez_tech" target="blank" class="">
                                <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://t.me/breez_lightning" target="blank" class="">
                                <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://medium.com/breez-technology" target="blank" class="">
                                <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://github.com/breez/breezmobile" target="blank" class="">
                                <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="mailto:contact@breez.technology" class="">
                                <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="lsp-page container">
        <section class="lsp-hero-section row position-relative">
            <h1 class="h-1 mb-2">The Breez Open-LSP Model</h1>
            <h2 class="h-2 mb-2">Bitcoin ROI with Full Custody</h2>
            <div class="col-12 col-lg-6 mb-5 mb-lg-0 d-flex flex-column">
                <div class="lsp-hero-info-block">
                    <article>
                        <p class="body-text --text-1">
                            The market has been waiting years for a means to generate a return on bitcoin that doesn’t
                            compromise custody.
                        </p>
                        <br>
                        <p class="body-text --text-1">
                            Just as ISPs are what turned the internet from a niche hobby into a revolutionary technology
                            by providing users with bandwidth and easy access, Lightning Services Providers (LSPs) are
                            the key to popularizing Lightning and revolutionizing payments.
                        </p>
                        <br>
                        <p class="body-text --text-1">
                            The power of Breez’s Open-LSP Model lies in its simplicity. It reconceives bitcoin’s role in
                            the financial system, transforming it from a marginal, speculative asset into a universal
                            currency. The returns it generates are largely independent of bitcoin price volatility. Best
                            of all, no one involved - users, LSP partners, or Breez - relinquishes custody of their
                            bitcoin, minimizing risk and maximizing autonomy.
                        </p>
                    </article>
                </div>
                <div class="d-flex">
                    <a role="button" class="primary-btn mb-3 me-sm-4 --hero-lsp text-decoration-none js-scroll-to"
                        data-scroll-to="#contact-us-form-lsp">
                        <div class="" style="margin: auto;">Become an LSP Partner</div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <img src="../../../assets/images/lsp-illustration-1.webp" alt="bitcoin unites people all over the world"
                    class="img-fluid">
            </div>
            <!--    gradients-->
            <div class="gradient --lsp-hero-radial-gradient-top-left">
            </div>
            <div class="gradient --lsp-hero-radial-gradient-bottom-right">
            </div>
        </section>

        <section class="lsp-features-section row position-relative" data-aos="fade-up" data-aos-duration="3000">
            <h2 class="h-2-home --small mb-5">
                The Breez Open-LSP Model provides ROI on bitcoin in real time:
            </h2>
            <div class="lsp-features-block-1 col-12 col-lg-6 mx-auto">
                <div class="d-flex align-items-center lsp-features-block-item">
                    <img src="../../../assets/icons/lsp-built-in-demand-icon.svg" alt="built-in demand icon"
                        class="me-4">
                    <div>
                        <h3 class="h-3 mb-1 fw-bold">Built-in demand</h3>
                        <p class="body-text --text-3">
                            ROI comes from forwarding payments, and the Breez SDK organically generates and grows
                            payment volume.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center lsp-features-block-item --gap">
                    <img src="../../../assets/icons/lsp-no-custodial-risk-icon.svg" alt="no custodial risk icon"
                        class="me-4">
                    <div>
                        <h3 class="h-3 mb-1 fw-bold">No custodial risk</h3>
                        <p class="body-text --text-3">
                            LSPs generate ROI on their bitcoin without borrowing, lending, or transferring custody at
                            any time, unlike staking and collateralizing.
                        </p>
                    </div>
                </div>

                <div class="d-flex align-items-center lsp-features-block-item">
                    <img src="../../../assets/icons/lsp-low-barriers-to-entry.svg" alt="low barriers to entry icon"
                        class="me-4">
                    <div>
                        <h3 class="h-3 mb-1 fw-bold">Low barriers to entry</h3>
                        <p class="body-text --text-3">
                            Requires only modest technical proficiency and uses off-the-shelf software.
                        </p>
                    </div>
                </div>
            </div>
            <!--    gradients-->
            <div class="gradient --lsp-features-radial-gradient-top-left">
            </div>
            <div class="gradient --lsp-features-radial-gradient-bottom-left ">
            </div>
        </section>

        <section class="lsp-description-section row position-relative" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-12 mb-5 d-flex flex-column">
                <article>
                    <p class="body-text --text-1">
                        Supplying liquidity through the Breez Open LSP Model generates a return on bitcoin in real
                        time without staking, collateralizing, securitizing or transferring possession of your
                        bitcoin. The more often liquidity on an LSP node is reused in fee-generating payment events,
                        the higher the ROI.
                    </p>
                </article>
            </div>
            <div class="col-12">
                <img src="../../../assets/images/lsp-illustration-2.webp"
                    alt="cycle of supply and demand based on LSP, SDK and ROI" class="img-fluid">
            </div>
            <!--    gradients-->
            <div class="gradient --lsp-hero-radial-gradient-top-left">
            </div>
            <div class="gradient --lsp-hero-radial-gradient-bottom-right">
            </div>
        </section>

        <section id="contact-us-form-lsp" data-aos="fade-up" data-aos-duration="3000"
            class="contact-us-section row position-relative">

            <div class="col-12 col-lg-7 mb-5 mb-lg-0">
                <div class="contact-us-info-block">
                    <h2 class="h-2-home mb-4">Become an LSP Partner</h2>
                    <p class="home-text --text-2">
                        Interested in becoming an LSP partner?
                        <br>
                        Please get in touch.
                    </p>
                </div>

                <div>
                    <p class="caption-1 mb-3">Follow us</p>

                    <ul class="d-flex align-items-center ms-auto">
                        <li class="social-media">
                            <a href="https://twitter.com/breez_tech" target="blank" class="">
                                <img src="../../../assets/icons/twitter-icon.svg" alt="twitter icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://t.me/breez_lightning" target="blank" class="">
                                <img src="../../../assets/icons/telegram-icon.svg" alt="telegram icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://medium.com/breez-technology" target="blank" class="">
                                <img src="../../../assets/icons/medium-icon.svg" alt="medium icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="https://github.com/breez/breezmobile" target="blank" class="">
                                <img src="../../../assets/icons/github-icon.svg" alt="github icon" class="icon">
                            </a>
                        </li>
                        <li class="social-media">
                            <a href="mailto:contact@breez.technology" class="">
                                <img src="../../../assets/icons/email-icon.svg" alt="email icon" class="icon">
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center">
                <!--        contact us form with validation-->
                <div class="form-body">
                    <div class="row">
                        <div class="form-holder">
                            <div class="form-content">
                                <div class="form-items">

                                    <form class="needs-validation" novalidate action="/contact" method="post">
                                        <input type="hidden" name="recaptcha_response" id="recaptcha_response" />
                                        <div class="col-md-12">
                                            <input class="form-control" type="text" name="fullname"
                                                placeholder="Your name" required>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback">Please enter a name</div>
                                        </div>

                                        <div class="col-md-12">

                                            <input class="form-control js-email-input"
                                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" type="email"
                                                name="email" placeholder="Your email" required>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback">
                                                <div class="js-required-input-error d-none">Please enter an email
                                                    address</div>
                                                <div class="js-not-valid-email-error d-none">Please enter a valid email
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <select class="form-select mt-3" name="contact_type" required>
                                                <option disabled value="" class="d-none">Topic</option>
                                                <option value="mobile">Mobile</option>
                                                <option value="sdk-design-partner">SDK Design Partner</option>
                                                <option selected value="lsp-partner">LSP Partner</option>
                                                <option value="cloud-early-access">Cloud Early Access</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback">Please choose a topic</div>
                                        </div>

                                        <div class="col-md-12">
                                            <textarea class="form-control" type="text" name="message" rows="4" cols="50"
                                                placeholder="Message" required></textarea>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback">Please enter a message </div>
                                        </div>

                                        <div class="form-button mt-3">
                                            <!--contact-form-btn-->
                                            <button id="submit" type="submit" name="send"
                                                class="contact-form-btn text-decoration-none border-0">
                                                <span class="">send message</span>
                                                <img src="../../../assets/icons/lightning-icon.svg"
                                                    alt="lightning icon">
                                            </button>
                                        </div>

                                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
                                            <div id="success-submit"
                                                class="toast align-items-center text-white bg-success border-0"
                                                role="alert" aria-live="assertive" aria-atomic="true">
                                                <div class="d-flex">
                                                    <div class="toast-body">
                                                        The message has been sent
                                                    </div>
                                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                                        data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                            </div>
                                            <div id="error-submit"
                                                class="toast align-items-center text-white bg-warning border-0"
                                                role="alert" aria-live="assertive" aria-atomic="true">
                                                <div class="d-flex">
                                                    <div class="toast-body">
                                                        The message has not been sent
                                                    </div>
                                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                                        data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--    gradients-->
            <div class="gradient --lsp-contact-us-radial-gradient-right">
            </div>

        </section>

        <footer class="footer position-relative">
            <div class="d-flex align-items-center justify-content-between py-4">
                <a href="/">
                    <img class="me-5" src="../../../assets/icons/logo-breez-footer.svg" alt="footer breez logo">
                </a>
                <span class="caption-2">&#169;2023 All right reserved</span>
            </div>
        </footer>
    </div>

</body>

</html>