.main-container {
  padding: 0 16px;

  @media (min-width: $screen-sm-min) {
    padding: 0 60px;
  }

  @media (min-width: $screen-lg-min) {
    padding: 0 140px;
  }

}

.header-container {
  padding: 16px 20px;
  //margin: 16px 0;

  @media (min-width: $screen-lg-min) {
    padding: 32px 60px;
    //margin: 32px 0;
  }
}

.secondary-container {
  padding: 0 20px;

  @media (min-width: $screen-lg-min) {
    padding: 0 60px;
  }

}